<html>

	<head>
		<title>Flask Boilerplate | by Kenvin Emiewo</title>
		<style>
			.wrapper{margin:10%; margin-top:2%; background:#eee; padding:1%; font-family:corbel;}
			.nav{background:#639; padding:10px;}
			.links > li > a{color:#fff;}
			.links > li {display:inline; margin-right:20px;}
			.title{color:#fff;}
			.title-inner{color:#639;}
			.page-contents{min-height:300px; background:; padding:5%;}
		</style>
	</head>
	
	<body>
		
		<div class="wrapper">
			<div class="nav">
				<h1 class="title">Flask Boiler Plate</h1>
				<ul class="links">
					<li><a href="/">Home </a></li>
					<li><a href="/contact-us">Contact-Us</a></li>
				</ul>
			</div>
			
			<div class="page-contents">
				<h1 class="title-inner">Home, Welcome</h1>
				This is the index.html file for this flask-boiler-plate by <small><b>Kenvin Emiewo</b></small>
			</div>
		</div>
		
	</body>

</html>